/********************************************
    GENERAL STYLES
********************************************/


/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {

}

/* Generics */
body {    
}

img {
    display: block;
    max-width: 100%;
}


/********************************************
    UTILITIES
********************************************/

.debug {
    border: 2px dotted red;
}
.min-h {
    min-height: 100px;
}

/* Text */

/* Border */

/* UI */

/* Header */

/* Main */

/* Footer */



/********************************************
    LAYOUT
********************************************/


/* HEADER */
.navbar {
    height: 70px;
}

.nav-icon .fa-solid  {
     line-height:50px ;
 }


 #logo-mobile   {
      height: 40px;
  }


/* MAIN */
.main {
    height: calc(100vh - 70px);
    display: flex;
    position: relative;
}

/* SITEBAR LEFT */

.sitebar-left {
    width: 70px;
    position: relative;
    left: -15px;
    top: 0;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051e34;
    color: white;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
}

.sitebar-left .sitebar-txt {
    font-size: 16px;
    vertical-align: middle;
    height: 28px;
}

/* MAIN LEFT */
.main-left {
    width: calc(100vw - 70px);
    background-color: lightgrey;
}

/* HEADER MAIN */

/* PROSSIME CLASSI */

/* FAQ */

/* TO DO */


/* UTENTI ATTIVI */



/********************************************
    RESPONSIVE
********************************************/

/*Extra small None <576px
Small sm ≥576px
Medium md ≥768px
Large lg ≥992px
Extra large xl ≥1200px
Extra extra large xxl ≥1400px*/





@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    .sitebar-left {
            width: 150px;
        }

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {

}